<!DOCTYPE html>
<html>
    <head>
        <title>Kukasek23's blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Motorový vůz řady 810: Legenda českých lokálek</a></h1>
        </header>

        <article>
            <time>published: 5.2. 2026, 08:20</time>
            <h2><a href="">Historie a účel</a></h2>
            <p>Vůz byl vyvinut v závodě Vagonka Studénka s jasným cílem: nahradit dosluhující a technicky zastaralé „Hurvínky“ (řada M 131.1). Výroba probíhala v letech 1973 až 1982, přičemž bylo vyrobeno přes 600 kusů. Hlavním úkolem 810 bylo zajistit levný a efektivní provoz na vedlejších tratích s nízkou frekvencí cestujících.</p>
        </article>

        <article>
            <time>published: 5.2. 2026, 08:21</time>
            <h2><a href="">Současnost: Modernizace a Regionova</a></h2>
            <p>Ačkoliv jsou původní vozy řady 810 postupně vyřazovány nebo nahrazovány modernějšími jednotkami, jejich odkaz žije dál. Velká část z nich prošla v uplynulých letech zásadní rekonstrukcí na dvou- či třívozové jednotky Regionova (řada 814), které dostaly nízkopodlažní část a modernější interiér.</p>
        </article>
    </body>
</html>

